/* 임포트 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* 폰트 정의 */
@font-face {
  font-family: 'KyokashoNP-B';
  src: url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.eot');
  src: 
    url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.eot?#iefix') format('embedded-opentype'),
    url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.woff2') format('woff2'),
    url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.svg#KyokashoNP-B') format('svg'),
    url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.ttf') format('truetype'),
    url('https://nihilncunia.github.io/TistorySkin/images/KyokashoNP-B.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CascadiaCode';
  src: url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.eot');
  src:
    url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.eot?#iefix') format('embedded-opentype'),
    url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.woff2') format('woff2'),
    url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.svg#CascadiaCode') format('svg'),
    url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.ttf') format('truetype'),
    url('https://nihilncunia.github.io/TistorySkin/images/CascadiaCode.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 초기화 */
* {
  padding: 0px;
  margin: 0px auto;
  font-family: "Noto Sans KR", "Noto Sans JP", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body {
  background: #dddddd;
}

/* 구글 광고 스타일 */
.googleTopAd {
  margin-bottom: 60px;
}

.googleBottomAd:nth-last-child(1) {
  margin-top: 60px;
  margin-bottom: 0px;
}

.googleBottomAd {
  margin-top: 60px;
  margin-bottom: 60px;
}

/* 코드 폰트 설정 */
pre {
  width: 100% !important;
  box-sizing: border-box !important;
  border-radius: 10px !important;
  margin-bottom: 30px;
  margin-top: 30px;
  white-space: pre-wrap;
}

code {
  padding: 10px !important;
}

pre,
code,
code .hljs-meta,
code .hljs-tag,
code .hljs-name,
code .hljs-attr,
code .hljs-string {
  font-family: "CascadiaCode", "Noto Sans KR", sans-serif !important;
}

/* 이미지 */
figure {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.content-article figure img {
  border-radius: 10px;
  box-sizing: border-box;
  border: 5px solid #333333;
  background: #333333;
}

/* 드래그 스타일 */
::-moz-selection {
  background: #333333;
  color: #ffffff;
}

::selection {
  background: #333333;
  color: #ffffff;
}

/* 반응형 처리 */
@media (min-width: 1px) and (max-width: 600px) {
  .content-article,
  .content-info,
  .content-admin,
  .content-tag,
  #blog-paging,
  .sidebar-content,
  .goto-top > a,
  .goto-category > a,
  .goto-notice > a,
  .top-menu a,
  .content-date,
  #area-body-list,
  input#entry4password::placeholder,
  .tag-item-box a,
  .content-decription,
  .blog-search-description p,
  .blog-top-page > .page-item > a,
  .content-comment,
  .comment-write #name,
  .comment-write #pwd,
  .comment-write .desc-input textarea,
  .comment-write .comment-button button,
  .page-description {
    font-size: 11pt;
  }

  .content-title,
  .sidebar-item .sidebar-title,
  .area-name-title,
  .blog-top-page > .page-title {
    font-size: 16pt;
  }
}

@media (min-width: 601px) {
  .content-article,
  .content-info,
  .content-admin,
  .content-tag,
  #blog-paging,
  .sidebar-content,
  .goto-top > a,
  .goto-category > a,
  .goto-notice > a,
  .top-menu a,
  .content-date,
  #area-body-list,
  input#entry4password::placeholder,
  .tag-item-box a,
  .content-decription,
  .blog-search-description p,
  .blog-top-page > .page-item > a,
  .content-comment,
  .comment-write #name,
  .comment-write #pwd,
  .comment-write .desc-input textarea,
  .comment-write .comment-button button,
  .page-description {
    font-size: 14pt;
  }

  .content-title,
  .sidebar-item .sidebar-title,
  .area-name-title,
  .blog-top-page > .page-title {
    font-size: 22pt;
  }
}

/* 상단 타이틀, 검색바 */
#blog-top {
  background: #333333;
  padding: 20px 10px;
  text-align: center;
}

#top-title {
  font-size: 24pt;
  display: inline-block;
  border-radius: 10px;
}

#top-title a {
  color: #ffffff;
  font-weight: 500;
  padding: 0px 20px;
  border-radius: 10px;
  border: 1px solid #ffffff;
}

#top-title a:hover {
  background: #ffffff;
  color: #333333;
}

#top-search {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

#top-search input[type="text"] {
  box-sizing: border-box;
  flex: 1 1 0;
  padding: 5px;
  margin-right: 5px;
  border: none;
  background: #ffffff;
  font-size: 14pt;
  text-align: center;
  color: #333333;
}

#top-search input[type="text"]::placeholder {
  color: #aaaaaa;
}

.search-button {
  box-sizing:border-box;
  width: 50px;
  font-size: 14pt;
  border: none;
  background: #ffffff;
  color: #333333;
}

.top-menu {
  text-align: center;
  margin-top: 10px;
}

.top-menu a {
  padding: 5px 10px;
  background: #ffffff;
  display: inline-block;
  border-radius: 20px;
  margin-right: 2px;
  margin-left: 2px;
  color: #333333;
  box-shadow: 0px 0px 10px -4px #333333;
}

.top-menu a:hover {
  color: #ffffff;
  background: #333333;
}

/* 중앙 */
#blog-middle {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
}

/* 페이지 */
.blog-top-page {
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  margin-bottom: 60px;
  box-shadow: 0px 0px 10px -4px #333333;
  color: #333333;
}

.blog-top-page > .page-title {
  font-weight: 500;
  background: #333333;
  border-radius: 10px;
  color: #ffffff;
  padding: 3px 10px;
  margin-bottom: 60px;
}

.blog-top-page > .page-description {
  margin-bottom: 60px;
  text-align: justify;
  text-indent: 15px;
}

.blog-top-page > .page-item {
  text-align: justify;
}

.blog-top-page > .page-item > .active-item {
  border: 1px solid #333333;
  color: #333333;
  padding: 0px 5px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

.blog-top-page > .page-item > .active-item:hover {
  background: #333333;
  color: #ffffff;
}

.blog-top-page > .page-item > .non-active-item {
  padding: 0px 5px;
  margin-bottom: 5px;
  font-size: 90%;
  border: 1px solid #88888890;
  color: #88888890;
  border-radius: 5px;
  cursor: default;
}

/* 이동 버튼 */
#blog-side-bar > .goto-top,
#blog-middle > .goto-category,
#blog-middle > .goto-notice {
  display: block;
  text-align: right;
}

.goto-top > a,
.goto-category > a,
.goto-notice > a {
  background: #333333;
  padding: 5px 10px;
  border-radius: 20px;
  display: inline-block;
  color: #333333;
  background: #ffffff;
  margin-bottom: 10px;
  box-shadow: 0px 0px 10px -4px #333333;
}

.goto-top > a:before,
.goto-category > a:before,
.goto-notice > a:before {
  content: "\f0c1";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.goto-top > a:hover,
.goto-category > a:hover,
.goto-notice > a:hover {
  color: #ffffff;
  background: #333333;
}

/* 검색 결과 */
#blog-search-list {
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px #333333;
  color: #333333;
}

.area-name-title {
  margin-bottom: 60px;
}

.area-name-title p {
  font-weight: 500;
  background: #333333;
  border-radius: 10px;
  color: #ffffff;
  padding: 3px 10px;
}

.blog-search-description {
  margin-bottom: 60px;
}

#tt-body-search #blog-search-list > .blog-search-description {
  display: none;
}

#area-body-list {
  margin-bottom: -5px;
}

.list-item {
  box-sizing: border-box;
  width: 100%;
}

.list-item a {
  display: flex;
  flex-direction: row;
  border: 1px solid #333333;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px;
  color: #333333;
}

.list-item a:hover {
  background: #333333;
  color: #ffffff;
}

.item-name {
  flex: 1 1 0;
  font-size: 90%;
  margin-right: 10px;
}

.item-name img {
  display: none;
}

.item-date {
  background: #888888;
  border-radius: 5px;
  color: #ffffff;
  padding: 0px 10px;
  font-size: 90%;
  display: flex;
  align-items: center;
}

/* 본문 */
.blog-post,
.blog-notice-post,
.blog-protected-post,
.blog-tag-cloud,
.blog-page-post,
.blog-guest-book {
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px #333333;
  color: #333333;
}

/* 본문 타이틀 */
.content-title {
  margin-bottom: 60px;
}

.content-title a {
  background: #333333;
  display: block;
  border-radius: 10px;
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  border: 1px solid #333333;
}

.content-title a:hover {
  color: #333333;
  background: #ffffff;
}

/* 본문 정보 */
.content-info {
  width: 100%;
}

.content-date {
  margin-bottom: 5px;
}

.content-category {
  border-radius: 10px;
  margin: 0px;
}

.content-category a {
  color: #218cd8;
  padding: 0px 5px;
  border-radius: 5px;
  border: 1px solid #218cd8;
}

.content-category a:hover {
  color: #ffffff;
  background: #218cd8;
}

/* 본문 어드민 */
.content-admin {
  margin-top: 5px;
}

.admin-edit {
  margin-right: 10px;
  margin-bottom: 5px;
}

.content-admin p a {
  padding: 0px 5px;
  border-radius: 5px;
  color: #218cd8;
  border: 1px solid #218cd8;
}

.content-admin p a:hover {
  color: #ffffff;
  background: #218cd8;
}

/* 페이지 */
.blog-page-post {
  margin-bottom: 60px;
}

/* 보호글 */
.content-form {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
}

input#entry4password {
  box-sizing: border-box;
  background: #ffffff;
  padding: 10px;
  color: #333333;
  border: 5px solid #333333;
  flex: 1 1 0;
}

input#entry4password::placeholder {
  text-align: center;
}

.content-form button {
  box-sizing: border-box;
  padding: 15px;
  background: #333333;
  border: none;
  color: #ffffff;
}

.blog-protected-post .content-article {
  margin-bottom: 0px;
}

.content-message {
  margin-bottom: 10px;
  text-align: center;
}

/* 본문 */
.content-article {
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: justify;
}

.content-article > p {
  margin: 20px 0px;
  text-indent: 15px;
  line-height: 1.8;
  letter-spacing: -1px;
}

.container_postbtn {
  display: none;
}

.another_category {
  display: none;
}

/* 태그 */
.content-tag {
  color: #ffffff;
  margin-bottom: 60px;
  text-align:justify;
  line-height: 1.5;
}

.content-tag a {
  padding: 0px 10px;
  border: 1px solid #333333;
  color: #333333;
  border-radius: 5px;
  margin-right: -3px;
  font-size: 90%;
}

.content-tag a:hover {
  color: #ffffff;
  background: #333333;
}

.content-tag a:before {
  content: '\f02b';
  margin-right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

/* 덧글 */
.content-comment {
  background: #333333;
  padding: 10px;
  border-radius: 10px;
  color: #ffffff;
}

.content-comment a {
  color: #ffffff;
}

/* 게스트북 */
.blog-guest-book > .content-title {
  background: #333333;
  border-radius: 10px;
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 60px;
}

.content-decription {
  margin-bottom: 60px;
  text-indent: 15px;
}

/* 페이징 */
#blog-paging {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px #333333;
}

#blog-paging > .num > span,
#blog-paging > a:nth-last-child(1),
#blog-paging > a:nth-child(1) {
  border: 1px solid #333333;
  color: #333333;
  border-radius: 5px;
  display:inline-block;
  padding: 0px 5px;
}

#blog-paging > .num > span:hover,
#blog-paging > .num > .selected,
#blog-paging > a:nth-last-child(1):hover,
#blog-paging > a:nth-child(1):hover {
  color: #ffffff;
  background: #333333;
}

#blog-paging > .no-more-prev:hover,
#blog-paging > .no-more-next:hover {
  color: #333333 !important;
  background: #ffffff !important;
}

/* 태그 클라우드 */
.blog-tag-cloud {
  margin-bottom: 60px;
}

.blog-tag-cloud > .content-title {
  background: #333333;
  border-radius: 10px;
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 60px;
}

.tag-item-box {
  text-align: center; 
}

.tag-item-box a {
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0px 5px;
  color: #333333;
  display: inline-block;
  margin-bottom: 5px;
  font-size: 90%;
}

.tag-item-box a:hover {
  color: #ffffff;
  background: #333333;
}

.cloud1:after,
.cloud2:after,
.cloud3:after,
.cloud4:after,
.cloud5:after {
  margin: 2px;
  padding: 0px 5px;
  background: #888888;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 90%;
  margin-left: 5px;
}

.cloud1:after {
  content: '1';
}

.cloud2:after {
  content: '2';
}

.cloud3:after {
  content: '3';
}

.cloud4:after {
  content: '4';
}

.cloud5:after {
  content: '5';
}

/* 사이드바 */

#blog-side-bar {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 900px;
  padding-left: 20px;
  padding-right: 20px;
}
.sidebar-item {
  margin-bottom: 60px;
  padding: 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -4px #333333;
}

.sidebar-item .sidebar-title {
  background: #333333;
  border-radius: 10px;
  padding: 3px 10px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
}

/* 카테고리 */
.sidebar-content > ul > li,
.sidebar-content > ul > li > ul > li,
.sidebar-content > ul > li > ul > li > ul > li {
  list-style: none;
}

.sidebar-content > ul > li > a::before {
  content: "\f07c";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  margin-right: 5px;
}

.sidebar-content > ul > li > ul > li > a:before {
  content: "\f07c";
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}

.sidebar-content > ul > li > ul > li > ul > li > a:before {
  content: "\f07b";
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
}

.sidebar-content > ul > li > a {
  border: 1px solid #333333;
  color: #333333;
  padding: 0px 5px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.sidebar-content > ul > li > ul > li > a {
  border: 1px solid #333333;
  color: #333333;
  padding: 0px 5px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 20px;
}

.sidebar-content > ul > li > ul > li > ul > li > a {
  border: 1px solid #333333;
  color: #333333;
  padding: 0px 5px;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 40px;
}

.sidebar-content > ul > li > a:hover,
.sidebar-content > ul > li > ul > li > a:hover,
.sidebar-content > ul > li > ul > li > ul > li > a:hover {
  color: #ffffff;
  background: #333333;
}

.tt_category img {
  display: none;
}

.tt_category .c_cnt {
  background: #888888;
  padding: 0px 5px;
  display: inline-block;
  margin: 2px;
  color: #ffffff;
  border-radius: 5px;
}

/* 최근 공지 */
.sidebar-content {
  margin-bottom: -5px;
}

.sidebar-content a {
  padding: 0px 5px;
  border: 1px solid #333333;
  border-radius: 5px;
  display: block;
  color: #333333;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 90%;
}

.sidebar-content a:hover {
  color: #ffffff;
  background: #333333;
}

/* 하단 */
#blog-bottom {
  padding: 20px 10px;
  background: #333333;
  color: #ffffff;
  overflow: hidden;
}

#blog-bottom #nihil {
  float: left;
}

#blog-bottom #power {
  float: right;
}

#blog-bottom #power a {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 0px 5px;
  border-radius: 5px;
}

#blog-bottom #power a:hover {
  color: #333333;
  background: #ffffff;
}

/* 구글 광고 */
.blogBottomGoogleAD {
  margin-bottom: 60px;
  margin-top: 60px;
}

/* 방문자 카운트 */
.sidebar-item:nth-child(7) .sidebar-content {
  font-size: 90%;
}

/* 아카이브 카운트 */
.sidebar-item:nth-child(6) .cnt {
  background: #888888;
  padding: 0px 5px;
  display: inline-block;
  margin: 2px;
  margin-left: 5px;
  color: #ffffff;
  border-radius: 5px;
}

/* 덧글 에리어 스타일 */

.comment-write .name-input,
.comment-write .pwd-input,
.comment-write .secret-box {
  margin-bottom: 10px;  
}

.comment-write .desc-input textarea {
  width: 100%;
  box-sizing: border-box;
  height: 100px;
  border: 0px;
  border-radius: 5px;
  padding: 5px;
  display: block;
  background: #dddddd;
  color: #333333;
}

.comment-write .desc-input textarea::placeholder {
  color: #33333370;
}

.comment-write #name,
.comment-write #pwd {
  width: 100%;
  margin-top: 5px;
  border: 0px;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 5px;
  background: #dddddd;
  color: #333333;
}

.comment-write .comment-button button {
  width: 100%;
  display: block;
  padding: 5px;
  border-radius: 5px;
  border: 0px;
  background: #ffffff;
  box-sizing: border-box;
  margin-top: 10px;
}

.comment-write .comment-button button:before {
  content: '\f075';
  font-family: "Font Awesome 5 Free";
  margin-right: 5px;
  font-weight: 900;
}

.content-comment .rp_admin,
.content-comment .rp_general,
.content-comment .rp_secret {
  display: flex;
}

.rp_general > .rp-image,
.rp_secret > .rp-image,
.rp_admin > .rp-image {
  align-items: flex-start;
  display: flex;
  margin-top: 5px;
}

.rp_general > .rp-image img,
.rp_secret > .rp-image img,
.rp_admin > .rp-image img {
  width: 35px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #333333;
  background: #333333;
}

.rp_general > .rp-content,
.rp_secret > .rp-content,
.rp_admin > .rp-content {
  flex: 1 1 0;
}

.comment-list-item {
  margin-bottom: 10px;
  margin-top: 10px;
  background: #444444;
  padding: 10px;
  border-radius: 10px;
}

.comment-list-item:nth-child(1) {
  margin-top: 40px;
}

.comment-list-item-reply:nth-child(1) {
  margin-top: 0px;
}

.comment-list-item:nth-last-child(1),
.comment-list-item-reply:nth-last-child(1) {
  margin-bottom: 0px;
}

.comment-list-item-reply {
  background: #333333;
  border-radius: 10px;
  padding: 10px;
  margin-left: 30px;
  margin-top: 10px;
}

.comment-list-item .name {
  margin-bottom: 10px;
}

.comment-list-item .write,
.comment-list-item .modify,
.comment-list-item .date a {
  background: #ffffff;
  padding: 0px 5px;
  color: #333333;
  border-radius: 5px;
}

.comment-list-item .write {
  margin-left: 5px;
}

.comment-list-item .date a {
  margin-left: 5px;
}
.comment-list-item .write:hover, 
.comment-list-item .modify:hover,
.comment-list-item .date a:hover {
  background: #aaaaaa;
  color: #333333;
}

.comment-list-item .date {
  font-size: 90%;
}

.comment-list-item .control {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 90%;
}